tools/*
.DS_Store
node_modules
/dist

# the "compiled" target
chomp-turret-*.gem

# local modules
src/local_modules/*

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
